.ques{
    padding: 40px;
    background-color: blue;
    color: blanchedalmond;
    font-size: 25px;
    cursor: pointer;
}
.ans{
padding: 30px;
background-color:yellowgreen;
color:white;
font-size: 20px;
display: none;
}